<!doctype html>
<html>
  <head>
    <title>Albums</title>
  </head>
  <body>
    <h2>Search for an Album</h2>

    <input type="seach">
    <input type="submit" value="search">
  </body>
</html>


<!doctype html>
<html>
  <head>
    <title>Artists</title>
  </head>
  <body>

    <input type="seach">
    <input type="submit" value="search">


                <h3><%= name %></h3>




  </body>
</html>
