<!doctype html>
<html>
  <head>
    <title>Artist Albums</title>
  </head>
  <body>
    <h3><%= name %></h3>
    <p>Add an album for <%= name %> </p>
      <form action="/album" method="post">
        <div>
          <label for="name">New album:</label>
          <input name="albumName" type="text"/>
          <input type='submit' value='Add'>
        </div>
    </form>
  </body>
</html>
