<!doctype html>
<html>
  <head>
    <title>Artists</title>
  </head>
  <body>
      <h3> Artists </h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Bio</th>
          </tr>
        </thead>
        <tbody>
            <% artists.forEach(function(artist) { %>
              <tr>
                <td><%= artist.name %></td>
                <td><%= artist.genre %></td>
                <td><%= artist.bio %></td>
                <td>
                  <form action="/artists/<%= artist._id %>" method="post">
                    <input type="submit" value="x">
                  </form>
                </td>
              </tr>
            <% }); %>
        </tbody>
      </table>
  </body>
</html>
