<!doctype html>
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
  <h1>Add Artist</h1>
  <form action="/home" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text"/>
    </div>
    <div>
        <label for="mail">Genre:</label>
        <input type="text"/>
    </div>
    <div>
        <label for="bio">Bio:</label>
        <textarea></textarea>
    </div>
    <input type='submit' value='Complete'>
</form>
    <h3>Artists</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Bio</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Sting</td>
          <td>Rock</td>
          <td>Rock Music, rich AF</td>
        </tr>
    </tbody>
  </table>

  </body>
</html>
